.navbar-brand 
    { 
    background-color: turquoise;
    text-emphasis: bold;
    }

    body {
        background-image: url('Light-Gray-Background.jpg');
        }


    .img-thumbnail {
        margin-top: 10px;
        border: 2px solid #dee2e6;; 
    }
footer {
    margin-top: 50px;
}
   
@media screen and (max-width: 575px) {

    .container {
        padding: 40px;
    }
    footer {
     height: 50px;}
    }